<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TDoctorMapper" >
<insert id="insertDoctor" parameterType="com.yiyang.pojo.TDoctor" >
  INSERT INTO t_doctor (
	d_user,
	d_hname,
	d_cnum,
	d_info1,
	d_address
    )
    VALUES
	(
		#{dUser},#{dHname},#{dCnum},#{dInfo1},#{dAddress}
	)

</insert>

	<select id="findDoctorByName" parameterType="string" resultType="com.yiyang.pojo.TDoctor">

		SELECT  * from t_doctor WHERE d_user = #{dUser}
	</select>
</mapper>