<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TDsuggestMapper" >

    <select id="findTDsuggestBydsDuser" parameterType="String" resultType="com.yiyang.pojo.TDsuggest">
        SELECT * FROM tdsuggest WHERE dsDuser=#{dsDuser}ORDER BY dsDate DESC
    </select>
    <insert id="insertTDsuggest" parameterType="com.yiyang.pojo.TDsuggest">
        INSERT INTO tdsuggest(dsDuser,dsPuser,dsSuggest,dsDate,dsItem) VALUES(#{dsDuser},#{dsPuser},#{dsSuggest},NOW(),#{dsItem});
    </insert>
</mapper>