<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TLocalinfoMapper" >
<insert id="insertLocation" parameterType="com.yiyang.mapper.TLocalinfoMapper">
  INSERT INTO t_localinfo (l_user, l_date, l_localx, l_localy)
VALUES (#{lUser},#{lDate},#{lLocalx},#{lLocaly})
</insert>
  <select id="getLocation" parameterType="com.yiyang.pojo.RelationParentKey" resultType="com.yiyang.pojo.TLocalinfo">
    SELECT * FROM `tlocalinfo` a INNER JOIN relationparent b ON a.lUser=b.pUser WHERE b.rUser=#{rUser} AND b.pUser=#{pUser};
  </select>
</mapper>