<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TPreremindMapper" >
    <select id="getTPreremind" parameterType="com.yiyang.pojo.TPreremind" resultType="com.yiyang.pojo.TPreremind">
        SELECT * FROM tpreremind WHERE prUser=#{prUser}
        <if test="prItem!=null and prItem!=''" >
            and prItem=#{prItem}
        </if>
        <if test="prFlag!=null and prFlag!=''">
            and prFlag=#{prFlag}
        </if>
        ORDER BY prId DESC
    </select>
    <update id="updateFlag" parameterType="com.yiyang.pojo.TPreremind" >
        UPDATE tpreremind SET  prFlag=#{prFlag} WHERE prId=#{prId}
    </update>
    <select id="getAllUserTPreremind" parameterType="com.yiyang.pojo.TUserInfo" resultType="com.yiyang.pojo.TPreremind">
        SELECT
            a.*, b.infoName
        FROM
            tpreremind a
            INNER JOIN tuserinfo b ON a.prUser = b.infoUser
        WHERE
            a.prUser IN (
                SELECT
                    pUser
                FROM
                    relationparent
                WHERE
                    rUser = #{infoUser}
            )
        <if test="infoName!=null and infoName!=''">
            and b.infoName LIKE CONCAT('%',#{infoName},'%')
        </if>
        ORDER BY
            prTime DESC
    </select>

    <select id="findPreremindAll" parameterType="String" resultType="com.yiyang.pojo.TPreremind">
        select * from tpreremind where prUser in (select pUser from doctorparent where dUser = #{dUser})ORDER BY prTime DESC
    </select>
</mapper>