<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TPreserviceMapper" >

    <select id="findDCL"  parameterType="com.yiyang.pojo.TPreservice" resultType="com.yiyang.pojo.TPreservice" >
    SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psFlag FROM  tpreservice where psFlag=1
    <if test="psUname!=null and psUname!=''" >
        and psUname LIKE '%${psUname}%'
    </if>
    <if test="psTelnumber!=null and psTelnumber!=''" >
        and psTelnumber=#{psTelnumber}

    </if>
    </select>

    <select id="findDCLAll" resultType="com.yiyang.pojo.TPreservice">
        SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psFlag FROM  tpreservice where psFlag=1
    </select>

    <select id="findYJD"  parameterType="com.yiyang.pojo.TPreservice"  resultType="com.yiyang.pojo.TPreservice" >
        SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psPeople,psFlag FROM  tpreservice where psFlag=2
        <if test="psUname!=null and psUname!=''" >
            and psUname LIKE '%${psUname}%'
        </if>
        <if test="psTelnumber!=null and psTelnumber!=''" >
            and psTelnumber=#{psTelnumber}
        </if>
    </select>

    <select id="findYJDAll"  resultType="com.yiyang.pojo.TPreservice" >
        SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psPeople,psFlag FROM  tpreservice where psFlag=2
    </select>

    <select id="findYWC" parameterType="com.yiyang.pojo.TPreservice" resultType="com.yiyang.pojo.TPreservice" >
        SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psPeople,psFinishTime,psFlag FROM  tpreservice where psFlag=3
        <if test="psUname!=null and psUname!=''" >
            and psUname LIKE '%${psUname}%'
        </if>
        <if test="psTelnumber!=null and psTelnumber!=''" >
            and psTelnumber=#{psTelnumber}
        </if>
    </select>
    <select id="findYWCAll"  resultType="com.yiyang.pojo.TPreservice" >
        SELECT  psId,psNumber,psUname,psTelnumber,psTime,psTotime,psAddres,psPeople,psFinishTime,psFlag FROM  tpreservice where psFlag=3
    </select>

    <resultMap id="preserviceAndItem" type="com.yiyang.pojo.TPreservice">
        <id  property="psId" column="psId"></id>
        <result property="psUser" column="psUser"></result>
        <result property="psNumber" column="psNumber"></result>
        <result property="psUname" column="psUname"></result>
        <result property="psTime" column="psTime"></result>
        <result property="psTelnumber" column="psTelnumber"></result>
        <result property="psAddres" column="psAddres"></result>
        <result property="psTotime" column="psTotime"></result>
        <result property="psPeople" column="psPeople"></result>
        <result property="psDesc" column="psDesc"></result>
        <result property="psFlag" column="psFlag"></result>
        <result property="psFinishTime" column="psFinishTime"></result>
       <association property="tServiceitem" javaType="com.yiyang.pojo.TServiceitem">
           <id  property="siId" column="siId"></id>
           <result property="siUser" column="siUser"></result>
           <result property="siName" column="siName"></result>
           <result property="siLarge" column="siLarge"></result>
           <result property="siLittle" column="siLittle"></result>
           <result property="siItem" column="siItem"></result>
           <result property="siType" column="siType"></result>
           <result property="siPrice" column="siPrice"></result>
       </association>
    </resultMap>
    <select id="findByPsNumber" parameterType="String" resultMap="preserviceAndItem">
       SELECT a.*,b.*
       from tpreservice a left JOIN tserviceitem b on a.psPeople=b.siUser
       where a.psNumber=#{psNumber}
    </select>

    <select id="findType" parameterType="int" resultType="int">
        select count(*) from tpreservice WHERE psFlag = #{psFlag}
    </select>


    <update id="updateFlag2" parameterType="string">
        UPDATE tpreservice SET psFlag=2
        where psNumber=#{psNumber}
    </update>

    <update id="updateFlag3" parameterType="string">
        UPDATE tpreservice SET psFlag=3
        where psNumber=#{psNumber}
    </update>

    <update id="updateFlag4" parameterType="string">
        UPDATE tpreservice SET psFlag=4
        where psNumber=#{psNumber}
    </update>

</mapper>