<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TServiceitemMapper" >
    <select id="selectAll" resultType="com.yiyang.pojo.TServiceitem">
        SELECT  * FROM tserviceitem
    </select>

    <insert id="insertServiceItem" parameterType="com.yiyang.pojo.TServiceitem">
        INSERT  INTO tserviceitem(siUser, siName, siLarge, siLittle, siItem, siPrice, siDesc, siType) VALUES
        (#{siUser},#{siName},#{siLarge},#{siLittle},#{siItem},#{siPrice},#{siDesc},#{siType})
    </insert>
    <select id="selectByLargeAndLittle" parameterType="com.yiyang.pojo.TServiceitem" resultType="com.yiyang.pojo.TServiceitem">
        SELECT * from tserviceitem
        <where>
            <if test="siLarge!=null">
                and siLarge=#{siLarge}
            </if>
            <if test="siLittle!=null">
                and siLittle=#{siLittle}
            </if>
        </where>
    </select>
</mapper>