<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyang.mapper.TUserInfoMapper" >
    <insert id="insertTUserInfo" parameterType="com.yiyang.pojo.TUserInfo">
        INSERT INTO  tuserinfo(infoSex, infoTel, infoAge, infoName, infoUser, infoNation, infoMarriage)
        VALUES (#{infoSex},#{infoTel},#{infoAge},#{infoName},#{infoUser},#{infoNation},#{infoMarriage})
    </insert>
    <select id="selectTUserInfoByTelnumber" parameterType="string" resultType="com.yiyang.pojo.TUserInfo">
        SELECT * FROM tuserinfo WHERE infoTel=#{telnumber};
    </select>
    <resultMap id="AllUserMap" type="com.yiyang.pojo.TUserInfo">
        <id column="infoName" property="infoName"/>
        <result column="infoId" property="infoId"/>
        <result column="infoSex" property="infoSex"/>
        <result column="infoTel" property="infoTel"/>
        <result column="infoAge" property="infoAge"/>
        <result column="infoName" property="infoName"/>
        <result column="infoUser" property="infoUser"/>
        <result column="infoNation" property="infoNation"/>
        <result column="infoMarriage" property="infoMarriage"/>

        <association property="tParent" javaType="com.yiyang.pojo.TParent">
            <!-- column:user表的主键对应的列  property：user对象中id属性-->
            <id column="pUser" property="pUser"/>
            <result column="pIdnum" property="pIdnum"/>
       </association>


    </resultMap>
    <select id="SelectAllUser" resultMap="AllUserMap">
       SELECT b.*,a.pIdnum from tparent a,tuserinfo b where a.pUser = b.infoName
    </select>

    <update id="updateUserInfo" parameterType="com.yiyang.pojo.TUserInfo">
        UPDATE tuserinfo
        <trim prefix="set" suffixOverrides=",">
        <if test="infoSex!=null and infoSex!=''">infoSex=#{infoSex},</if>
        <if test="infoTel!=null and infoTel!=''">infoTel=#{infoTel},</if>
        <if test="infoAge!=null and infoAge!=''">infoAge=#{infoAge},</if>
        <if test="infoName!=null and infoName!=''">infoName=#{infoName},</if>
        <if test="infoNation!=null and infoNation!=''">infoNation=#{infoNation},</if>
        <if test="infoMarriage!=null and infoMarriage!=''">infoMarriage=#{infoMarriage},</if>
        </trim>
        WHERE infoUser=#{infoUser}
    </update>
    <update id="updateImg" parameterType="com.yiyang.pojo.TUserInfo">
        UPDATE tuserinfo SET infoImg=#{infoImg} WHERE infoUser=#{infoUser}
    </update>



    <select id="SelectPointUser" parameterType="String" resultMap="AllUserMap">
        SELECT b.*,a.pIdnum from tparent a,tuserinfo b where a.pUser = b.infoName AND b.infoName = #{0} AND b.infoTel = #{1}
    </select>

</mapper>